body {
  background-image: linear-gradient(to right, #0e9aa7, #45046a);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: linear-gradient(to right, #0e9aa7, #45046a);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 380px;
  border-radius: 15px;
  position: absolute;
  border-bottom: 1px solid wh45046aite;
}

img{
    width: 50%;
    margin-bottom: 30px;
}

label {
    display: flex;
    justify-content: start;
    font-size: 16px;
    font-weight: bold;
  }

form {
  padding: 10px 40px 40px;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  margin-bottom: 15px;
  font-size: 14px;
  color: white;
}

input:focus {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

button {
  border: none;
  background: #035aa6;
  color: #fff;
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #039be5;
}

.cuenta {
  text-decoration: none;
  color: #039be5;
}

