
body {
    background-image: linear-gradient(to right, #0e9aa7, #45046a);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background:  linear-gradient(to right, #0e9aa7, #45046a );
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 380px;
    border-radius: 15px;
}

label{
    display: flex;
    justify-content: start;
    font-size: 16px;
    font-weight: bold;
}

.header h1 {
    color: #fff;
    font-weight: normal;
    text-align: center;
}


.form {
    padding: 10px 40px 40px;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #021e26;
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
    padding-left:10px;
}


input[type="submit"] {
    border: none;
    background: #035aa6;
    color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    margin-bottom: 16px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background: #039BE5;
}

.cuenta{
    text-decoration: none;
    color: #039BE5;
}

.campo{
    padding: 2px;
}